@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #050505;
    color-scheme: dark;
  }
  body {
    @apply bg-cube-black text-[#EDEDED];
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
}

/* Custom Scrollbar for Transcript */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
